<div class="row position-relative">
  <div class="app-login-form center-content shadow rounded col-10 col-lg-6">
    <!-- Loading Spinner -->
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

    <!-- Login Form Content -->
    <h1 class="text-center font-weight-bold">Welcome</h1>
    <img class="center-content h-25" src="./assets/img/brand-icon.png" alt="logo">
    <div class="mt-4">
      <form #f="ngForm" (ngSubmit)="handleFormSubmission(f)">
        <div class="app-input-control">
          <input
            ngModel
            name="email"
            email
            required
            class="app-login-input"
            type="email"
            id="email"
            placeholder="&nbsp;"/>
          <label class="app-login-label" for="email">Email</label>
          <span class="app-login-active-line"></span>
        </div>

        <div class="app-input-control mt-5">
          <input
            ngModel
            name="password"
            required
            minlength='6'
            class="app-login-input"
            type="password"
            id="password"
            placeholder="&nbsp;">
          <label class="app-login-label" for="password">Password</label>
          <span class="app-login-active-line"></span>
        </div>

        <ng-template app-placeholder></ng-template>
        <button
          [disabled]="f.invalid"
          [ngClass]="{'disabled': f.invalid}"
          type="submit"
          class="btn btn-block btn-secondary mt-5">{{this.buttonMessage}}
        </button>

        <p class="lead font-weight-lighter small mt-3">{{this.footerMessage[0]}}
          <button
            (click)="changePage()"
            type="button"
            class="btn btn-link font-weight-lighter font-100">{{this.footerMessage[1]}}
          </button>
        </p>
      </form>
    </div>
  </div>
</div>
