@import "src/assets/scss/theme/theme";

$padding-left: 5px;

.app-login-form {
  position: relative;
  padding: 20px 15px 0 15px;
  max-height: 80vh;

  .app-input-control {
    position: relative;
    width: 100%;

    .app-login-input {
      display: block;
      width: 100%;
      outline: none;
      padding: 8px 0 8px $padding-left;
      border: none;
      border-bottom: 1px solid $gray-300;

      &:focus + .app-login-label {
        transform: translate(-0.40rem, -2.5rem) scale(0.75);
        transform-origin: left;
      }
      &:not(:placeholder-shown) + .app-login-label{
        transform: translate(-0.40rem, -2.5rem) scale(0.75);
        transform-origin: left;
      }

      &:focus ~ .app-login-active-line, &:active ~ .app-login-active-line{
        width: 100%;
      }
    }

    .app-login-label {
      position: absolute;
      bottom: 0;
      left: $padding-left;
      transition: 0.2s all ease-out;
    }

    .app-login-active-line {
      position: absolute;
      left: 0;
      width: 0;
      height: 2px;

      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
      background: -webkit-linear-gradient($secondary);
      background: -o-linear-gradient($secondary);
      background: -moz-linear-gradient($secondary);
      background: linear-gradient($secondary);
    }
  }
}

.app-loading-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.31);
}
