/* You can add global styles to this file, and also import other style files */
@import "theme/theme";
@import "partials/app-tooltip";

/* == VARIABLES == */
$padding : 1rem;
$border-radius: 10px;

/* == VIEWPORTS == */
$small: 480px;
$medium: 768px;
$large: 1024px;

.main-container {
  margin: auto;
  max-width: 90vw;
}
