<form [formGroup]="recipeForm" class="recipe-form" (ngSubmit)="onSubmit()">
  <!-- Title -->
  <div class="row">
    <div class="col-12">
      <input formControlName="name"
             [ngClass]="(name.invalid && name.touched) ? 'recipe-form-error': ''"
             class="recipe-title form-control"
             id="name"
             type="text"
             placeholder="My Recipe Title"
             title="Recipe Name">
    </div>
  </div>
  <!-- Description -->
  <div class="row mt-3">
    <div class="col-12">
      <h5>Description</h5>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <textarea formControlName="description"
                class="form-control"
                title="Recipe Description"
                placeholder="This is an ancient recipe from the old Vikings...">
      </textarea>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12 col-lg-4">
      <img
        class="float-image float-right img-thumbnail"
        [src]="imgPlaceholder ? this.FOOD_PLACEHOLDER : imgPath.value"
        alt="Recipe Image"
      >
    </div>
    <div class="col-12 col-lg-8 mt-2">
      <div class="form-group">
        <label for="imagePath">Image Path</label>
        <input formControlName="imagePath"
               class="form-control"
               id="imagePath"
               type="text"
               title="Image Path, for example 'https://recipe-image.jpg"
               placeholder="https://recipe-image.jpg'">
      </div>
    </div>
  </div>

  <!-- Ingredients -->
  <div class="row mt-3">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h5 style="display: inline-block">Ingredients</h5>
        <button (click)="onAddIngredient()"
                class="btn btn-primary"
                type="button"
                tabindex="-1">Add
        </button>
      </div>
      <hr />
    </div>
    <div class="col-12">
      <ul class="p-0" formArrayName="ingredients">
        <li *ngFor="let ingredient of ingredientsControls; let i = index"
            [formGroupName]="i.toString()"
            class="recipe-ingredients my-2"
        >
            <input formControlName="name"
                   [ngClass]="
                   (ingredientsControls[i].get('name').invalid && ingredientsControls[i].get('name').touched)
                   ? 'recipe-form-error' : ''"
                   class="recipe-ingredients-name form-control"
                   type="text"
                   placeholder="Tomatoes..."
                   title="Ingredient Name"
            >
            <span class="text-center mx-1">&times;</span>
            <input formControlName="amount"
                   [ngClass]="
                   (ingredientsControls[i].get('amount').invalid && ingredientsControls[i].get('amount').touched)
                   ? 'recipe-form-error' : ''"
                   class="recipe-ingredients-amount text-center form-control"
                   type="number"
                   min="1"
                   title="Ingredient Amount"
                   (keydown.enter)="onAddIngredient()"
            >
            <button (click)="onDeleteIngredient(i)"
                    class="btn btn-danger recipe-ingredients-remove ml-2"
                    type="button"
                    title="Delete Ingredient"
                    tabindex="-1"
            > &times; </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-2">
    <div>
      <button (click)="onCancel()"
              class="btn btn-warning"
              tabindex="2"
              type="button">Cancel
      </button>
    </div>
    <div class="app-tooltip">
      <button [disabled]="recipeForm.invalid"
              class="btn btn-success ml-2"
              type="submit">Save
      </button>
      <span *ngIf="recipeForm.invalid" class="app-tooltip-text">You must fill all the required fields.</span>
    </div>
  </div>
</form>
