<div class="row">
  <div class="col-12">
    <h3>New Item</h3>
    <hr>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-row">

        <div class="col-8">
          <label for="itemName">Item name</label>
          <input
            ngModel
            required
            name="name"
            type="text"
            class="form-control"
            placeholder="Name"
            id="itemName"
          >
        </div>

        <div class="col-4">
          <label for="itemAmount">Amount</label>
          <input
            ngModel
            required
            pattern="^([1-9]+[0-9]*)$"
            name="amount"
            id="itemAmount"
            type="number"
            min="0"
            class="form-control"
            placeholder="Amount"
          >
        </div>

      </div>
      <div class="d-flex justify-content-between mt-2">
        <div>
          <button (click)="onClear()"
                  class="btn btn-warning" type="button">Cancel
          </button>
          <button (click)="onDelete()"
                  class="btn btn-outline-danger ml-2" type="button" *ngIf="editMode">Delete
          </button>
        </div>
        <div class="app-tooltip">
          <button [disabled]="f.invalid"
                  [ngClass]="f.invalid ? 'btn-secondary' : 'btn-success'"
                  class="btn ml-2" type="submit">
            {{ this.editMode ? 'Update' : 'Add'}}
          </button>
          <span class="app-tooltip-text">You must add at least one.</span>
        </div>
      </div>
    </form>
  </div>
</div>

<!--
 For ShippingEdit Component I decided to go with the Template Driven approach due to it's being a simple component.

 History: I was using template references to get the input values and click listeners to add them.
 RECAP
 * <form>: When using FormsModule Angular automatically injects the NgForm directive into our form
 * #f = "ngForm": We can get the form object from "ngForm" into our template reference
 * ngModel: Register the input with its name as a form control
 -->
