@import "../theme/theme";

.clickable{
  background-color: initial;
  transition: background-color 0.3s;

  &:hover{
    cursor: pointer;
    background-color: $gray-200;

    transition: background-color 0.3s;
  }
}

.hover:hover{
  transition: 0.3s background-color linear;
  background-color: $gray-200
}

.center-content{
  margin-left: 50%;
  transform: translateX(-50%);
}

.font-100{
  font-size: 100%;
}
.font-50{
  font-size: 50%;
}

.no-outline{
  outline: none !important;
}
