.shopping-list-row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.shopping-list-row > div {
  width: 49%;
}

.shopping-list-row > div > ul > li{
  width: 100%;
}
